
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 5fr 1fr;
    background-image: url();
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://images.pexels.com/photos/1537638/pexels-photo-1537638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    
}

h1{
    font-weight: bolder;
}

span{
    font-weight: normal;
}


.title{
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
}

.qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ticket_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

.date{
    border: solid 1px black;
}

.admit{
    border: solid 1px black;
}

.ticket {
    grid-column: 1/3;
    border: solid 1px black;
}

.css{
    display: none;
    border: solid 1px black;
}

